# ignore everything by default
*

# keep this file tracked
!.gitignore

# track only managed directories
!superarch/
!superarch/**

!alacritty/
!alacritty/**

!niri/
!niri/**

!tmux/
!tmux/**

!nvim/
!nvim/**

# explicitly keep user overrides untracked 
custom/

