@import "~/.config/superarch/current/font/rofi.rasi"

configuration {
  modi: "drun,run,keys";
  combi-modi: "drun,run";
  combi-hide-mode-prefix: true;
  show-icons: true;
  matching: "fuzzy";
  sort: true;
  display-drun: "$";
  case-sensitive: false;
  drun-match-fields: "name";
}

@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

window {
 width: 42%;
 height: 30%;
}

