# Timeout
default-timeout=3000

# Position
anchor=top-right
margin=10

# Font
font=FONT_FAMILY FONT_SIZE

# Styling
background-color=COLOR_BASE00
text-color=COLOR_BASE05
border-color=COLOR_BASE03
border-size=1
border-radius=0
padding=10

# Max visible
max-visible=3
