/* No need for separate colors.css - colors inline */
window#osd {
  border-radius: 10px;
  border: 1px solid COLOR_BASE03;
  background: COLOR_BASE00E6; /* 90% opacity - E6 in hex */
  font-family: "FONT_FAMILY";
  font-size: FONT_SIZEpx;
}

window#osd #container {
  margin: 6px;
  padding: 2px;
  background: transparent;
}

window#osd image {
  -gtk-icon-transform: scale(0.7);
}

window#osd image,
window#osd label {
  color: COLOR_BASE0D;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: COLOR_BASE0280; /* 50% opacity - 80 in hex */
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: COLOR_BASE0D;
}
